
body, html{
    background-color: #748cb9;
}

tr, th{
        color:#ffeff2;;
     }

     .tableHeader {
        text-align: center;
        background: rgb(0, 0, 0, 0.4) ;
      }


tbody, .tableHeader{
    background: rgb(0, 0, 0, 0.4) ;
   
}

tr, td{
    padding: 5px 10px;
 
}

th{
    padding:10px;
}